.pageContainer {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 2% 2% 2%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImage {
  border-radius: 10%;
  border: 1px #395144 double;
  background-size: cover;
  height: 40vh;
  width: auto;
}

.brandStatementContainer {
  background-color: rgba(57, 81, 68, .9);
  border-radius: 10px;
  margin: 5% 0;
  padding: 5%;
  text-align: center;
  width: 95%;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brandStatement {
  max-height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.brandStatement > div:first-child {
  font-size: 30px;
  color: var(--content-color);
  font-weight: bolder;
  font-family: 'Noto Serif Lao', serif;
}

.links > a {
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  border: var(--content-color) 4px dotted;
  padding: 1%;
  margin: 2%;
  box-shadow: inset 0 0 0 0 var(--font-color);
  color: var(--content-color);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links div {
  font-family: 'Sono', sans-serif;
}

.brandStatement p {
  color: #F0EBCE;
  font-size: 20px;
  text-align: center;
  font-family: 'Sono', sans-serif;
}

.links > a:hover {
  color: white;
  border-color: white;
}

.links > a:first-child:hover {
  box-shadow: inset -300px 0 0 0 var(--font-color);
}

.links > a:last-child:hover {
  box-shadow: inset 300px 0 0 0 var(--font-color);
}

#mandarinAbout{
  text-align: left;
}

@media (min-width: 768px) {
  .pageContainer {
    background-image: url(../../../public/images/plant-top-left-bottom-right.jpg);
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .section {
    flex-direction: row;
  }

  .profileImage {
    height: 75vh;
    margin: 0 2%;
    border-radius: 10px;
  }

  .brandStatementContainer {
    max-width: 700px;
    height: 75vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    order: 0;
  }

  .brandStatementContainer p {
    font-size: 17px;
  }

  .link {
    font-size: 20px;
  }

  #mandarinAbout{
    font-size: 95%;
  }
}
