.pageContainer {
  /* padding: 0 2%; */
  max-width: 100vw;
  /* width: 100%; */
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImage {
  border-radius: 10%;
  border: 1px #395144 double;
  /* background-image: url("../../../public/images/plant.jpg"); */
  background-size: cover;
  height: 35vh;
  width: auto;
}

.brandStatement {
  background-color: #395144;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px 25px;
  text-align: center;
  width: 95%;
  max-width: 600px;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.links > a {
  width: 25%;
  font-weight: bold;
  font-size: 25px;
  border: dashed var(--font-color);
  padding: 1%;
  margin: 2%;
  box-shadow: inset 0 0 0 0 var(--font-color);
  color: var(--font-color);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links > div {
  width: 100%;
}

.brandStatement>p {
  color: #F0EBCE;
  font-size: 17px;
}

.links > a:hover {
  box-shadow: inset 200px 0 0 0 var(--font-color);
  color: white;
  border-color: white;
}


@media (min-width:768px) {
  .pageContainer {
    background-image: url(../../../public/images/plant-top-left-bottom-right.jpg);
    background-size: cover;
    flex-direction: row;
    justify-content: center;
  }

  .section {
    flex-direction: row;
  }

  .profileImage {
    height: 70vh;
    border-radius: 10px;
  }

  .brandStatement {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    order: 0;
    opacity: 0.9;
  }

  .brandStatement p {
    font-size: 20px;
  }

}