.pageContainer {
  padding: 0 2%;
  max-width: 100vw;
  width: 100%;
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImage {
  border-radius: 10%;
  border: 1px #395144 double;
  /* background-image: url("../../../public/images/plant.jpg"); */
  background-size: cover;
  height: 35vh;
  width: auto;
}

.brandStatement {
  background-color: #395144;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 10px 25px;
  text-align: center;
  width: 95%;
  max-width: 600px;
  order: 1;
}


.brandStatement>p {
  color: #F0EBCE;
  font-size: 17px;
}

@media (min-width:768px) {
  .pageContainer {
    background-image: url(../../../public/images/plant-top-left-bottom-right.jpg);
    background-size: cover;
    flex-direction: row;
    justify-content: center;
  }

  .profileImage {
    /* width: 18vw; */
    /* margin: 20px; */
    width: 60%;
  }

}