.cardsContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.container{
  border-radius: 10px;
  /* box-shadow: 4px 4px rgba(0, 0, 0, .3) ; */
  margin: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  padding-bottom: 1%;
  text-align: center;
}

.cardsContainer a{
  width: 100%;
}

.container a{
  width: 100%;
  height: 100%;
}

.container:hover{
  background-color: #9BA17B;
}

.container > a > img{
  border-radius: 10px;
  width: 100%;
}

.container > h3{
  color: var(--font-color);
  margin: 5px;
}

.container:hover h3{
  color: var(--bg-color);
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: var(--title-font);
  font-weight: 800;
}

#title>div{
  width: 100%;
  padding: 2%;
}

@media only screen and (min-width:768px) {
  .cardsContainer{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
  }

  .container{
    width: 25%;
    margin: 2%;
    align-items: center;
    justify-content: flex-start;
    height: 35vh;
  }

  .container > a > img{
    width: 100%;
    height: 70%;
  }

  #title{
    font-size: 1.4em;
    height: 30%;
    /* padding: 0; */
  }
}
