.cardsContainer {
  max-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 5%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin: 5% 0;
  padding-bottom: 1%;
  background-color: var(--bg-color);
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.container a {
  width: 100%;
}

.container a img {
  border-radius: 10px;
  width: 100%;
  height: 150px;
}

.container:hover {
  background-color: #9BA17B;
  height: 250px;
  transition: all 0.3s ease;
}

.container:hover .tech {
  opacity: 1;
}

.container:hover .title,
.container:hover .tech {
  color: beige;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.2em;
  font-family: var(--title-font);
  font-weight: bold;
}

.title > div {
  width: 100%;
  padding: 2%;
}

.tech {
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 100%;
  height: auto;
  padding: 0 2px;
  font-size: smaller;
}

#projectsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectsTitle {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  font-family: var(--title-font);
  color: beige;
  background-color: var(--bg-color);
  width: 30%;
  border-radius: 10px;
}

#groupProjects,
#personalProjects {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .cardsContainer {
    width: 100%;
    flex-direction: row;
    padding: 1%;
    flex-wrap: wrap;
  }

  .container {
    width: 20%;
    min-width: 270px;
    margin: 1%;
    align-items: center;
    justify-content: flex-start;
    height: 37vh;
  }

  .container:hover {
    background-color: #9BA17B;
    height: 40vh;
    transition: all 0.3s ease;
  }

  .title {
    font-size: 1.4em;
    height: 30%;
  }
}
