.cardsContainer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container{
  border-radius: 20px;
  margin: 10px;
  display: flex;
  /* justify-content:space-between; */
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 15%; */
  background-color: var(--bg-color);
  width: 150px;
  height: 150px;
  text-align: center;
}

.container:hover{
  background-color: #9BA17B;
}

.container > div{
  font-size: 80%;
  padding: 0 5px;
  font-weight: bold;
}

.container > img{
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.container > h3{
  color: var(--font-color);
  margin: 5px;
}

.container:hover h3{
  color: var(--bg-color);
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2%;
}

@media (min-width:1024px) {
  .container{
    width: 250px;
    height: 250px;
  }

  .container > img{
    width: 100%;
  }

  .container > div{
    font-size: 100%;
    height: 100%;
    padding: 0 5px;
    font-weight: bold;
    /* text-align: center; */
  }

  #title{
    height: 100%;
    padding: 0 2%;
    font-size: 20px;
  }
}