.container{
  /* border: 2px black solid; */
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: var(--bg-color);
  width: 80vw;
}

.container:hover{
  background-color: #9BA17B;
}

.container > img{
  border-radius: 20px 20px 0 0;
  width: 80vw;
}

.container > h3{
  color: var(--font-color);
}

.container:hover h3{
  color: var(--bg-color);
}

@media (min-width:1024px) {
  .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container{
    width: 30vw;
  }

  .container > img{
    width: 30vw;
  }
}