h1{
  color:var(--font-color);
  background-color: #395144;
  border-radius: 20px;
  padding: 5px 10px;
  border:dotted 5px ;
}

.pageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.icons img{
  width: 60px;
  background-color: #D8CCA3;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
}

.icons img:hover{
  background-color: #A27B5C;
}

.container{
  margin: 5px;
  border-radius: 20px;
  text-align: center;
  background-color: #395144;
  color:var(--font-color);
  padding: 0 10px;
  width: 80vw;
}

@media (min-width:1024px) {
  .container{
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container > *{
    margin: 10px;
  }
}