.profile {
  border-radius: 50%;
  margin: 5%;
  width: 40vw;
}

.homeImage {
  background-image: url("/public/images/plant-top.jpg");
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  min-height: 93vh;
  text-align: center;
}

.titleContainer {
  background-color: rgba(245, 245, 220, .9);
  border-radius: 10px;
  margin: 10px;
  padding: 5px 15px;
  font-family: var(--title-font);
}

#name {
  font-size: 30px;
}

#title {
  font-size: 20px;
  font-weight: bold;
}

#welcome {
  font-size: 22px;
  font-weight: bolder;
}

@media (min-width:1024px) {
  .profile {
    width: 25vw;
    margin: 0 10%;
  }

  .homeImage {
    flex-direction: row;
  }

  .homeImage>img {
    order: 2;
  }
}