.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}

.form > label{
  width:28%;
}

.form > input
, .form > textarea{
  width:68%;
}

.form > *{
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.submitBtn{
  width: 100%;
  
}

.btn{
  padding: 10px 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #EDDFB3;
  border: none;
  color: var(--bg-color);
  font-size: 20px;
  width: 100px;
  font-weight: bold;
}

.btn:hover{
  background-color: #A27B5C;
  color: #EDDFB3;
}

.contactInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo:first-child{
  width: 30%;
}

#statusMsg{
  font-size: 20px;
  font-weight: bold;
  color:#EDDFB3;
}

