:root {
  --main-font: var(--title-font);
  --bg-color: #EDDFB3;
  --hover-color: #A27B5C;
}

h2
,label{
  font-family: var(--main-font);
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}

.form > label{
  width:28%;
}

.form > input
, .form > textarea{
  width:68%;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}

.form > textarea {
  height: 100px; /* Set an appropriate height for the textarea */
}

.formSubmit{
  width: 100%;
}

.btn{
  padding: 10px 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #EDDFB3;
  border: none;
  color: var(--bg-color);
  font-size: 20px;
  width: 100px;
  font-weight: bold;
}

.btn:hover{
  background-color: var(--hover-color);
  color: var(--bg-color);
}

.contactInfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactInfo:first-child{
  width: 30%;
}

#statusMsg{
  font-size: 20px;
  font-weight: bold;
  color:var(--bg-color);
}

