a{
  text-decoration: none;
  color: #AA8B56;
}

ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* padding: 15px 5px; */
  font-size: 100%;
  font-weight: bold;
  width: 100vw;
}

li{
  margin: 0 1%;
}

.navbar{
  background-color: #395144;
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: fixed;
  top:0;
}



