button{
  padding: 10px 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #EDDFB3;
  border: none;
  color: var(--bg-color);
}

button:hover{
  background-color: #A27B5C;
  color: #EDDFB3;
}

.container img
,.container p
{
  width: 100%;
}

.pageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container{
  margin: 10px 0;
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  width: 70%;
}

.container > h1{
  color: var(--font-color);
}

.container > p{
  color:#F0EBCE;
  width: 40vw;
}

.container > img{
  width: 70%;
  border-radius: 20px;
}

.container > *{
  margin: 15px 0;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}