html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  width: 300px;
}

main{
  background-color: rgb(228, 228, 220);
  min-height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* padding: 10px 20px; */
  margin-top: 7vh;
}

ul{
  padding: 0;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#page-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}